<div ng-controller="editScheduleController" ng-init="init()">
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand">Bine ai venit, {{professor.name}}!</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a class="hand" ng-click="logOut()">Log out</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="settings()" class="hand">Setari</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="evaluation()" class="hand">Evaluari</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="attendance()" class="hand">Prezenta</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right">
                    <li><a ng-click="schedule()" class="hand">Orar</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <br/><br/><br/>
    <div id="claudiaDivCenter">
        <h1 class="text-primary" id="title" align="center">{{title}}</h1>
        <br/>
            <h3>Evenimentul ales - valori vechi</h3>
            <table class="table table-striped">
                <tr>
                    <th>Tip</th>
                    <th>Materie</th>
                    <th>Sala</th>
                    <th>Grupa</th>
                    <th>Serie</th>
                    <th>An</th>
                    <th>Specializare</th>
                    <th>Inceput</th>
                    <th>Sfarsit</th>
                </tr>
                <tr>
                    <td>{{event.type}}</td>
                    <td>{{event.subject}}</td>
                    <td>{{event.room}}</td>
                    <td>{{event.group.name}}</td>
                    <td>{{event.group.batch.name}}</td>
                    <td>{{event.group.batch.year}}</td>
                    <td>{{event.group.batch.specialization.name}}</td>
                    <td>{{event.start_time}}</td>
                    <td>{{event.end_time}}</td>
                </tr>
            </table>
            <br/>
        <h3>Schimbati orice valoare</h3>
            <div class="alert alert-danger" ng-show="editSchedule.__request.error">{{editSchedule.__request.message}}</div>
            <div class="divFloatLeftLeft">
                <div class="form-group">
                    <label for="exampleType">Tip</label>
                    <select ng-click="changeTarget(newEvent.type)" id="exampleType" ng-model="newEvent.type" class="form-control" ng-required>
                        <option value="curs">Curs</option>
                        <option value="seminar">Seminar</option>
                    </select>
                    <br/>
                    <div class="form-group">
                        <label for="exampleSubject">Materie</label>
                        <input type="text" class="form-control" id="exampleSubject" ng-model="newEvent.subject"/>
                    </div>
                    <div class="form-group">
                        <label for="exampleRoom">Sala</label>
                        <input type="text" class="form-control" id="exampleRoom" ng-model="newEvent.room"/>
                    </div>
                </div>
            </div>
            <div class="divFloatLeftRight">
                <div class="form-group">
                    <label for="exampleTarget">Serie/Grupa</label>
                    <select id="exampleTarget" ng-model="newEvent.target_id" class="form-control" ng-required>
                        <option ng-repeat="target in targets" value="{{target.id}}">{{target.content}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <div class="divFloatLeftLeft">
                        <label for="exampleStartTime">Data inceput</label>
                        <input id="exampleStartTime" class="form-control" type="datetime-local" ng-model="newEvent.start_time">
                    </div>
                    <div class="divFloatLeftRight">
                        <label for="exampleEndTime">Data sfarsit</label>
                        <input id="exampleEndTime" class="form-control" type="datetime-local" ng-model="newEvent.end_time">
                    </div>
                </div>
                <br/><br/><br/><br/>
                <div ng-init="hide()" id="hideMe" class="form-group">
                    <div class="divFloatLeftLeft">
                        <label for="exampleRepeats">Numar repetari</label>
                        <input id="exampleRepeats" class="form-control" type="text" ng-model="newEvent.repeats">
                    </div>
                    <div class="divFloatLeftRight">
                        <label for="examplePeriod">Perioada</label>
                        <select id="examplePeriod" ng-model="newEvent.period" class="form-control" ng-required>
                            <option value="weekly">saptamanal</option>
                            <option value="twoweeks">o data la doua saptamani</option>
                            <option value="monthly">lunar</option>
                        </select>
                    </div>
                </div>
                <br/><br/><br/><br/>
                <div class="floatButtonsRight">
                    <button class="btn btn-lg btn-default " ng-click="cancelEditSchedule()">Renunta</button>
                    <button class="btn btn-lg btn-success floatButtonsRight" ng-click="save(newEvent)">Salveaza</button>
                </div>
            </div>
            </div>
            </form>
        </div>
<br/><br/><br/>
</div>